@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Sevillana&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
  background-color: rgb(238, 209, 140);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav_div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  z-index: 1;
  background-color: rgb(238, 209, 140);
}

.nav_div nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: rgb(238, 209, 140);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
}
nav h1 {
  margin: 0;
  font-family: "Sevillana";
  font-size: 40px;
}
.about {
  display: flex;
  gap: 20px;
  margin-left: 5%;
}
.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.about ul li {
  padding: 0;
  margin: 10px 25px;
}
.about ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: larger;
  border-radius: 10px;
  transition: ease-in-out 0.65s;
}
.about ul li a:hover {
  background-color: rgb(235, 189, 82);
}
#shop {
  background-color: rgb(246, 203, 103);
}
.container {
  display: flex;
  flex-direction: column;
}

.lower_part_of_the_page {
  background-color: aliceblue;
  margin-top: 80px; 
  
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.lower_part_of_the_page .form{
  background-color: rgb(238, 209, 140);
  width: 100%;
  background-image: url('/Pictures/contact-us-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.custom-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 300px; 
  margin:auto ;
  border: 1px solid black;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 14px 10px 10px 0px;
  backdrop-filter: blur(2px); 
  font-family: "Oswald";
}

label {
  margin-bottom: 5px; 
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; 
  border: none;
  outline: none;
}
input{
  border-radius: 10px;
}
textarea{
  border-radius: 20px;
  width: 100%;
  height: 200px;
}

form h1 {
  text-align: center; 
  font-family: "Oswald";
}
.form button{
  font-family: "Oswald";
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: rgb(238, 209, 140);
  font-size: 15px;
  transition: ease-in-out 0.5s;
}
.form button:hover{
  background-color: rgb(232, 190, 91);   
}
input::placeholder,
textarea::placeholder{
  font-family: "Oswald";
}
.user, .email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user i, .email i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  margin-bottom: 10px;
  transition: opacity 0.3s;
}

.user input, .email input {
  padding-left: 30px; 
  box-sizing: border-box;
  font-family: inherit; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.user input:focus + i, .email input:focus + i {
  display: none;
}
.custom-link h1 {
  margin: 0;
  font-family: "Sevillana";
  font-size: 40px;
  transition: 0.2s;
}

.custom-link.targeted h1 {
  transform: scale(1.2) rotateY(25deg);

}
